#form{
    position: relative;
    z-index: 1;
    max-width: 350px;
    padding: 45px;
    text-align: center;
    margin: 0 auto 100px;
}
.profileImage{
    height: 20vh;
    width: 20vh;
  }

.picture{
    display: block;
    font-family: Poppins-Bold;
    font-size: 15px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  }
#form input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 15px auto 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
#form span {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 15px auto 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.hidden{
    display: none;
}

#password-form{
    padding-top: 40px;
}