html {
    box-sizing: border-box
}


*,
*:before,
*:after {
    box-sizing: inherit
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

footer,
header,
menu,
nav,
section {
    display: block
}

[hidden] {
    display: none
}

a,
button {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}


mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

img {
    border-style: none
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    background-color: blue
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

/* End extract */
html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    padding-top:2%;
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.firstpage-serif {
    font-family: serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.firstpage-wide {
    letter-spacing: 4px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    height: 1px;
    color: #20B2AA;
    background-color: #20B2AA;
    border-color: #20B2AA;
    border: none;
}

.firstpage-image {
    max-width: 100%;
    height: auto
}

img {
    vertical-align: middle
}

a,
button {
    color: inherit
}

iframe {
    width: 560px;
    height: 400px;
    margin-top: 150px
}

.firstpage-btn,
.firstpage-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.firstpage-display-container {
    position: relative
}

.firstpage-text {
    display: none
}

.firstpage-text {
    display: inline-block
}

.firstpage-input-name {
    padding: 8px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 15%;
}

.firstpage-input-email {
    padding: 8px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 30%
}

.firstpage-input-message {
    padding: 8px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 45.28%;

}


.firstpage-check,
.firstpage-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.firstpage-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.firstpage-bar-block .firstpage-dropdown-hover,
.firstpage-bar-block .firstpage-dropdown-click {
    width: 100%
}

.firstpage-bar-block .firstpage-dropdown-hover .firstpage-dropdown-content,
.firstpage-bar-block .firstpage-dropdown-click .firstpage-dropdown-content {
    min-width: 100%
}

.firstpage-bar-block .firstpage-dropdown-hover .firstpage-button,
.firstpage-bar-block .firstpage-dropdown-click .firstpage-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}



.firstpage-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.firstpage-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.firstpage-bar {
    width: 100%;
    overflow: hidden
}

.firstpage-center .firstpage-bar {
    display: inline-block;
    width: auto;
}

.firstpage-bar .firstpage-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.firstpage-bar .firstpage-dropdown-hover,
.firstpage-bar .firstpage-dropdown-click {
    position: static;
    float: left
}

.firstpage-bar .firstpage-button {
    white-space: normal
}

.firstpage-bar-block .firstpage-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.firstpage-bar-block.firstpage-center .firstpage-bar-item {
    text-align: center
}


.firstpage-container:after,
.firstpage-container:before,
.firstpage-bar:before,
.firstpage-bar:after {
    content: "";
    display: table;
    clear: both
}

.firstpage-half,
.firstpage-third,
.firstpage-twothird,
.firstpage-threequarter,
.firstpage-quarter {
    float: left;
    width: 100%
}

.firstpage-hide {
    display: none !important
}

@media (max-width:600px) {
    .firstpage-modal-content {
        margin: 0 10px;
        width: auto !important
    }

    .firstpage-modal {
        padding-top: 30px
    }

    .firstpage-dropdown-hover.firstpage-mobile .firstpage-dropdown-content,
    .firstpage-dropdown-click.firstpage-mobile .firstpage-dropdown-content {
        position: relative
    }

    .firstpage-hide-small {
        display: none !important
    }

    .firstpage-mobile {
        display: block;
        width: 100% !important
    }

    .firstpage-bar-item.firstpage-mobile,
    .firstpage-dropdown-hover.firstpage-mobile,
    .firstpage-dropdown-click.firstpage-mobile {
        text-align: center
    }

    .firstpage-dropdown-hover.firstpage-mobile,
    .firstpage-dropdown-hover.firstpage-mobile .firstpage-btn,
    .firstpage-dropdown-hover.firstpage-mobile .firstpage-button,
    .firstpage-dropdown-click.firstpage-mobile,
    .firstpage-dropdown-click.firstpage-mobile .firstpage-btn,
    .firstpage-dropdown-click.firstpage-mobile .firstpage-button {
        width: 100%
    }
}

@media (max-width:768px) {
    .firstpage-modal-content {
        width: 500px
    }

    .firstpage-modal {
        padding-top: 50px
    }
}

@media (min-width:993px) {
    .firstpage-modal-content {
        width: 900px
    }

    .firstpage-hide-large {
        display: none !important
    }

    .firstpage-sidebar.firstpage-collapse {
        display: block !important
    }
}

@media (max-width:992px) and (min-width:601px) {
    .firstpage-hide-medium {
        display: none !important
    }
}

@media (max-width:992px) {
    .firstpage-sidebar.firstpage-collapse {
        display: none
    }
}

.firstpage-top,
.firstpage-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.firstpage-top {
    top: 0
}

.firstpage-bottom {
    bottom: 0
}

.firstpage-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.firstpage-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.firstpage-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.firstpage-display-container:hover .firstpage-display-hover {
    display: block
}

.firstpage-display-container:hover span.firstpage-display-hover {
    display: inline-block
}

.firstpage-display-hover {
    display: none
}

.firstpage-display-position {
    position: absolute
}

.firstpage-circle {
    border-radius: 50%
}

.firstpage-round-small {
    border-radius: 2px
}

.firstpage-round,
.firstpage-round-medium {
    border-radius: 4px
}

.firstpage-round-large {
    border-radius: 8px
}

.firstpage-round-xlarge {
    border-radius: 16px
}

.firstpage-round-xxlarge {
    border-radius: 32px
}


.firstpage-container {
    padding: 0.01em 16px
}


.firstpage-card,
.firstpage-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.firstpage-card-4,
.firstpage-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.firstpage-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.firstpage-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.firstpage-animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.firstpage-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.firstpage-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.firstpage-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.firstpage-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.firstpage-animate-input {
    transition: width 0.4s ease-in-out
}

.firstpage-animate-input:focus {
    width: 100% !important
}

.firstpage-opacity,
.firstpage-hover-opacity:hover {
    opacity: 0.60
}

.firstpage-opacity-off,
.firstpage-hover-opacity-off:hover {
    opacity: 1
}

.firstpage-opacity-max {
    opacity: 0.25
}

.firstpage-opacity-min {
    opacity: 0.75
}

.firstpage-greyscale-max,
.firstpage-grayscale-max,
.firstpage-hover-greyscale:hover,
.firstpage-hover-grayscale:hover {
    filter: grayscale(100%)
}

.firstpage-greyscale,
.firstpage-grayscale {
    filter: grayscale(75%)
}

.firstpage-greyscale-min,
.firstpage-grayscale-min {
    filter: grayscale(50%)
}

.firstpage-sepia {
    filter: sepia(75%)
}

.firstpage-sepia-max,
.firstpage-hover-sepia:hover {
    filter: sepia(100%)
}

.firstpage-sepia-min {
    filter: sepia(50%)
}

.firstpage-tiny {
    font-size: 10px !important
}

.firstpage-small {
    font-size: 12px !important
}

.firstpage-medium {
    font-size: 15px !important
}

.firstpage-large {
    font-size: 18px !important
}

.firstpage-xlarge {
    font-size: 24px !important
}

.firstpage-xxlarge {
    font-size: 36px !important
}

.firstpage-xxxlarge {
    font-size: 48px !important
}

.firstpage-jumbo {
    font-size: 64px !important
}

.firstpage-left-align {
    text-align: left !important
}

.firstpage-right-align {
    text-align: right !important
}

.firstpage-justify {
    text-align: justify !important
}

.firstpage-center {
    text-align: center !important
}

.firstpage-border-0 {
    border: 0 !important
}

.firstpage-border {
    border: 1px solid #ccc !important
}

.firstpage-border-top {
    border-top: 1px solid #ccc !important
}

.firstpage-border-bottom {
    border-bottom: 1px solid #ccc !important
}

.firstpage-border-left {
    border-left: 1px solid #ccc !important
}

.firstpage-border-right {
    border-right: 1px solid #ccc !important
}

.firstpage-topbar {
    border-top: 6px solid #ccc !important
}

.firstpage-bottombar {
    border-bottom: 6px solid #ccc !important
}

.firstpage-leftbar {
    border-left: 6px solid #ccc !important
}

.firstpage-rightbar {
    border-right: 6px solid #ccc !important
}

.firstpage-margin {
    margin: 16px !important
}

.firstpage-margin-top {
    margin-top: 16px !important
}

.firstpage-margin-bottom {
    margin-bottom: 16px !important
}

.firstpage-margin-left {
    margin-left: 16px !important
}

.firstpage-margin-right {
    margin-right: 16px !important
}

.firstpage-padding-small {
    padding: 4px 8px !important
}

.firstpage-padding {
    padding: 8px 16px !important
}

.firstpage-padding-large {
    padding: 12px 24px !important
}

.firstpage-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.firstpage-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.firstpage-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.firstpage-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
}

.firstpage-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.firstpage-left {
    float: left !important
}

.firstpage-right {
    float: right !important
}

.firstpage-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.firstpage-transparent,
.firstpage-hover-none:hover {
    background-color: transparent !important
}

.firstpage-hover-none:hover {
    box-shadow: none !important
}

/* Colors */
.firstpage-amber,
.firstpage-hover-amber:hover {
    color: #000 !important;
    background-color: #ffc107 !important
}

.firstpage-aqua,
.firstpage-hover-aqua:hover {
    color: #000 !important;
    background-color: #00ffff !important
}

.firstpage-blue,
.firstpage-hover-blue:hover {
    color: #fff !important;
    background-color: #2196F3 !important
}

.firstpage-light-blue,
.firstpage-hover-light-blue:hover {
    color: #000 !important;
    background-color: #87CEEB !important
}

.firstpage-brown,
.firstpage-hover-brown:hover {
    color: #fff !important;
    background-color: #795548 !important
}

.firstpage-cyan,
.firstpage-hover-cyan:hover {
    color: #000 !important;
    background-color: #00bcd4 !important
}

.firstpage-blue-grey,
.firstpage-hover-blue-grey:hover,
.firstpage-blue-gray,
.firstpage-hover-blue-gray:hover {
    color: #fff !important;
    background-color: #607d8b !important
}

.firstpage-green,
.firstpage-hover-green:hover {
    color: #fff !important;
    background-color: #4CAF50 !important
}

.firstpage-light-green,
.firstpage-hover-light-green:hover {
    color: #000 !important;
    background-color: #8bc34a !important
}

.firstpage-indigo,
.firstpage-hover-indigo:hover {
    color: #fff !important;
    background-color: #3f51b5 !important
}

.firstpage-khaki,
.firstpage-hover-khaki:hover {
    color: #000 !important;
    background-color: #f0e68c !important
}

.firstpage-lime,
.firstpage-hover-lime:hover {
    color: #000 !important;
    background-color: #cddc39 !important
}

.firstpage-orange,
.firstpage-hover-orange:hover {
    color: #000 !important;
    background-color: #ff9800 !important
}

.firstpage-deep-orange,
.firstpage-hover-deep-orange:hover {
    color: #fff !important;
    background-color: #ff5722 !important
}

.firstpage-pink,
.firstpage-hover-pink:hover {
    color: #fff !important;
    background-color: #e91e63 !important
}

.firstpage-purple,
.firstpage-hover-purple:hover {
    color: #fff !important;
    background-color: #9c27b0 !important
}

.firstpage-deep-purple,
.firstpage-hover-deep-purple:hover {
    color: #fff !important;
    background-color: #673ab7 !important
}

.firstpage-red,
.firstpage-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important
}

.firstpage-sand,
.firstpage-hover-sand:hover {
    color: #000 !important;
    background-color: #fdf5e6 !important
}

.firstpage-teal,
.firstpage-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important
}

.firstpage-yellow,
.firstpage-hover-yellow:hover {
    color: #000 !important;
    background-color: #ffeb3b !important
}

.firstpage-white,
.firstpage-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
}

.firstpage-black,
.firstpage-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important
}

.firstpage-grey,
.firstpage-hover-grey:hover,
.firstpage-gray,
.firstpage-hover-gray:hover {
    color: #000 !important;
    background-color: #9e9e9e !important
}

.firstpage-light-grey,
.firstpage-hover-light-grey:hover,
.firstpage-light-gray,
.firstpage-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.firstpage-dark-grey,
.firstpage-hover-dark-grey:hover,
.firstpage-dark-gray,
.firstpage-hover-dark-gray:hover {
    color: #fff !important;
    background-color: #616161 !important
}

.firstpage-pale-red,
.firstpage-hover-pale-red:hover {
    color: #000 !important;
    background-color: #ffdddd !important
}

.firstpage-pale-green,
.firstpage-hover-pale-green:hover {
    color: #000 !important;
    background-color: #ddffdd !important
}

.firstpage-pale-yellow,
.firstpage-hover-pale-yellow:hover {
    color: #000 !important;
    background-color: #ffffcc !important
}

.firstpage-pale-blue,
.firstpage-hover-pale-blue:hover {
    color: #000 !important;
    background-color: #ddffff !important
}

.firstpage-text-amber,
.firstpage-hover-text-amber:hover {
    color: #ffc107 !important
}

.firstpage-text-aqua,
.firstpage-hover-text-aqua:hover {
    color: #00ffff !important
}

.firstpage-text-blue,
.firstpage-hover-text-blue:hover {
    color: #2196F3 !important
}

.firstpage-text-light-blue,
.firstpage-hover-text-light-blue:hover {
    color: #87CEEB !important
}

.firstpage-text-brown,
.firstpage-hover-text-brown:hover {
    color: #795548 !important
}

.firstpage-text-cyan,
.firstpage-hover-text-cyan:hover {
    color: #00bcd4 !important
}

.firstpage-text-blue-grey,
.firstpage-hover-text-blue-grey:hover,
.firstpage-text-blue-gray,
.firstpage-hover-text-blue-gray:hover {
    color: #607d8b !important
}

.firstpage-text-green,
.firstpage-hover-text-green:hover {
    color: #4CAF50 !important
}

.firstpage-text-light-green,
.firstpage-hover-text-light-green:hover {
    color: #8bc34a !important
}

.firstpage-text-indigo,
.firstpage-hover-text-indigo:hover {
    color: #3f51b5 !important
}

.firstpage-text-khaki,
.firstpage-hover-text-khaki:hover {
    color: #b4aa50 !important
}

.firstpage-text-lime,
.firstpage-hover-text-lime:hover {
    color: #cddc39 !important
}

.firstpage-text-orange,
.firstpage-hover-text-orange:hover {
    color: #ff9800 !important
}

.firstpage-text-deep-orange,
.firstpage-hover-text-deep-orange:hover {
    color: #ff5722 !important
}

.firstpage-text-pink,
.firstpage-hover-text-pink:hover {
    color: #e91e63 !important
}

.firstpage-text-purple,
.firstpage-hover-text-purple:hover {
    color: #9c27b0 !important
}

.firstpage-text-deep-purple,
.firstpage-hover-text-deep-purple:hover {
    color: #673ab7 !important
}

.firstpage-text-red,
.firstpage-hover-text-red:hover {
    color: #f44336 !important
}

.firstpage-text-sand,
.firstpage-hover-text-sand:hover {
    color: #fdf5e6 !important
}

.firstpage-text-teal,
.firstpage-hover-text-teal:hover {
    color: #009688 !important
}

.firstpage-text-yellow,
.firstpage-hover-text-yellow:hover {
    color: #d2be0e !important
}

.firstpage-text-white,
.firstpage-hover-text-white:hover {
    color: #fff !important
}

.firstpage-text-black,
.firstpage-hover-text-black:hover {
    color: #000 !important
}

.firstpage-text-grey,
.firstpage-hover-text-grey:hover,
.firstpage-text-gray,
.firstpage-hover-text-gray:hover {
    color: #757575 !important
}

.firstpage-text-light-grey,
.firstpage-hover-text-light-grey:hover,
.firstpage-text-light-gray,
.firstpage-hover-text-light-gray:hover {
    color: #f1f1f1 !important
}

.firstpage-text-dark-grey,
.firstpage-hover-text-dark-grey:hover,
.firstpage-text-dark-gray,
.firstpage-hover-text-dark-gray:hover {
    color: #3a3a3a !important
}

.firstpage-border-amber,
.firstpage-hover-border-amber:hover {
    border-color: #ffc107 !important
}

.firstpage-border-aqua,
.firstpage-hover-border-aqua:hover {
    border-color: #00ffff !important
}

.firstpage-border-blue,
.firstpage-hover-border-blue:hover {
    border-color: #2196F3 !important
}

.firstpage-border-light-blue,
.firstpage-hover-border-light-blue:hover {
    border-color: #87CEEB !important
}

.firstpage-border-brown,
.firstpage-hover-border-brown:hover {
    border-color: #795548 !important
}

.firstpage-border-cyan,
.firstpage-hover-border-cyan:hover {
    border-color: #00bcd4 !important
}

.firstpage-border-blue-grey,
.firstpage-hover-border-blue-grey:hover,
.firstpage-border-blue-gray,
.firstpage-hover-border-blue-gray:hover {
    border-color: #607d8b !important
}

.firstpage-border-green,
.firstpage-hover-border-green:hover {
    border-color: #4CAF50 !important
}

.firstpage-border-light-green,
.firstpage-hover-border-light-green:hover {
    border-color: #8bc34a !important
}

.firstpage-border-indigo,
.firstpage-hover-border-indigo:hover {
    border-color: #3f51b5 !important
}

.firstpage-border-khaki,
.firstpage-hover-border-khaki:hover {
    border-color: #f0e68c !important
}

.firstpage-border-lime,
.firstpage-hover-border-lime:hover {
    border-color: #cddc39 !important
}

.firstpage-border-orange,
.firstpage-hover-border-orange:hover {
    border-color: #ff9800 !important
}

.firstpage-border-deep-orange,
.firstpage-hover-border-deep-orange:hover {
    border-color: #ff5722 !important
}

.firstpage-border-pink,
.firstpage-hover-border-pink:hover {
    border-color: #e91e63 !important
}

.firstpage-border-purple,
.firstpage-hover-border-purple:hover {
    border-color: #9c27b0 !important
}

.firstpage-border-deep-purple,
.firstpage-hover-border-deep-purple:hover {
    border-color: #673ab7 !important
}

.firstpage-border-red,
.firstpage-hover-border-red:hover {
    border-color: #f44336 !important
}

.firstpage-border-sand,
.firstpage-hover-border-sand:hover {
    border-color: #fdf5e6 !important
}

.firstpage-border-teal,
.firstpage-hover-border-teal:hover {
    border-color: #009688 !important
}

.firstpage-border-yellow,
.firstpage-hover-border-yellow:hover {
    border-color: #ffeb3b !important
}

.firstpage-border-white,
.firstpage-hover-border-white:hover {
    border-color: #fff !important
}

.firstpage-border-black,
.firstpage-hover-border-black:hover {
    border-color: #000 !important
}

.firstpage-border-grey,
.firstpage-hover-border-grey:hover,
.firstpage-border-gray,
.firstpage-hover-border-gray:hover {
    border-color: #9e9e9e !important
}

.firstpage-border-light-grey,
.firstpage-hover-border-light-grey:hover,
.firstpage-border-light-gray,
.firstpage-hover-border-light-gray:hover {
    border-color: #f1f1f1 !important
}

.firstpage-border-dark-grey,
.firstpage-hover-border-dark-grey:hover,
.firstpage-border-dark-gray,
.firstpage-hover-border-dark-gray:hover {
    border-color: #616161 !important
}

.firstpage-border-pale-red,
.firstpage-hover-border-pale-red:hover {
    border-color: #ffe7e7 !important
}

.firstpage-border-pale-green,
.firstpage-hover-border-pale-green:hover {
    border-color: #e7ffe7 !important
}

.firstpage-border-pale-yellow,
.firstpage-hover-border-pale-yellow:hover {
    border-color: #ffffcc !important
}

.firstpage-border-pale-blue,
.firstpage-hover-border-pale-blue:hover {
    border-color: #e7ffff !important
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
    line-height: 1.8;
}



.firstpage-bar .firstpage-button {
    padding: 16px;
}

/* LOGIN PART*/


/* Full-width input fields */
input[type=text],
input[type=password],
input[type=email],
input[type=tel]{
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#RGprofile{
    width: 12%;
    padding: 12px 20px;
    margin: 2px 0 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=number]{
    width: 8%;
    padding: 12px 20px;
    margin: 2px 0 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}



/* Set a style for all buttons */
button {
    background-color: #20B2AA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;

}

button:hover {
    opacity: 0.8;
}



/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}


span.psw {
    float: left;
    padding-top: 16px;
}

span.cna {
    float: right;
    padding-top: 16px;
}

#haveA {
    float: none;
    padding-top: 16px;
    padding-left: 10px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {

    span.psw,
    span.cna {
        display: block;
        float: none;
    }

}

#logoPart {
    background-image: url(../../../images/ícone-cor.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 54px;
    height: 54px;
    text-indent: 0px;
}

#RFN,#RLN,#Remail,#Rtelemovel{
    width:50%;
    display: inline-block;
}
.menu-flags{
    width:200px;
    display:inline-block
    
}